*{
    font-family: Roboto, sans-serif;
    color: aliceblue;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-box{
    width: 450px;
    height: 450px;
    border: solid 1px aliceblue;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.box{
    border: solid 1px aliceblue;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.15s;
}

.box:hover{
    cursor: pointer;
    background-color: aliceblue;
    opacity: 0.8;
}