*{
    font-family: Roboto, sans-serif;
    color: aliceblue;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}
.title{
    font-size: 50px;
    letter-spacing: 2px;
}
.text-header{
    font-size: 24px;
    color: rgb(20,20,20);
}
.game-box{
    width: 450px;
    height: 450px;
    border: solid 1px aliceblue;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.box{
    border: solid 1px aliceblue;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.15s;
}

.box:hover{
    cursor: pointer;
    background-color: aliceblue;
    opacity: 0.8;
}

.button{
    background-color: rgb(20,20,20);
    font-size: 20px;
    border: 1px solid aliceblue;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 0px 10px;
    transition: 0.15s;
}

.hover:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: rgb(20,20,20);
    opacity: 0.8;
}

.score-board{
    height: 100px;
    width: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    font-size: 21px;
}
